<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to the home page</h1>

    {{if eq .Authenticated true}}
    <h2>{{.Title}}</h2>
    <a href="/logout">Đăng xuất</a>
    {{else}}
    <a href="/signup">Đăng kí</a>
    <a href="/login">Đăng nhập</a>
    {{end}}
</body>

<style>
    a:link, a:visited {
        background-color: white;
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover, a:active {
        background-color: green;
        color: white;
    }
</style>
</html>